// 颜色
$accentColor = #2b9939
$textColor = #303133
$borderColor = #eaecef
$arrowBgColor = #ccc
$codeBgColor = #282c34
$badgeTipColor = #67C23A
$badgeWarningColor = darken(#E6A23C, 35%)
$badgeErrorColor = #F56C6C

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
